html, body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100%;
}

html.dark0, body.dark0 {
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(42, 124, 83) 70%, rgb(129, 241, 24) 100%);
}

html.dark1, body.dark1 {
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(42, 54, 124) 70%, rgb(24, 46, 241) 100%);
}

html.dark2, body.dark2 {
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(118, 124, 42) 70%, rgb(208, 241, 24) 100%);
}

html.dark3, body.dark3 {
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(124, 61, 42) 70%, rgb(241, 67, 24) 100%);
}

html.dark4, body.dark4 {
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(124, 42, 113) 70%, rgb(241, 24, 223) 100%);
}

html.dark5, body.dark5 {
    background: blue;
}

#container {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

div {
    display: inline-block;
}

.rotate {
    /* -webkit-animation: rotation 5s infinite linear; */
    -webkit-animation: spin 3s infinite linear;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.rotate_right0 {
    /* -webkit-animation: rotation 5s infinite linear; */
    -webkit-animation: spin_right4 25s infinite linear;
}

@-moz-keyframes spin_right0 { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin_right0 { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin_right0 { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.rotate_right1 {
    /* -webkit-animation: rotation 5s infinite linear; */
    -webkit-animation: spin_right1 20s infinite linear;
}

@-moz-keyframes spin_right1 { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin_right1 { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin_right1 { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.rotate_right3 {
    /* -webkit-animation: rotation 5s infinite linear; */
    -webkit-animation: spin_right3 10s infinite linear;
}

@-moz-keyframes spin_right3 { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin_right3 { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin_right3 { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.rotate_right4 {
    /* -webkit-animation: rotation 5s infinite linear; */
    -webkit-animation: spin_right4 5s infinite linear;
}

@-moz-keyframes spin_right4 { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin_right4 { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin_right4 { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.rotate_right2 {
    /* -webkit-animation: rotation 5s infinite linear; */
    -webkit-animation: spin_right2 15s infinite linear;
}

@-moz-keyframes spin_right2 { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin_right2 { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin_right2 { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.rotate_left1 {
    /* -webkit-animation: rotation 5s infinite linear; */
    -webkit-animation: spin_left1 20s infinite linear;
}

@-moz-keyframes spin_left1 { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin_left1 { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin_left1 { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.rotate_left0 {
    /* -webkit-animation: rotation 5s infinite linear; */
    -webkit-animation: spin_left0 25s infinite linear;
}

@-moz-keyframes spin_left0 { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin_left0 { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin_left0 { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.rotate_left3 {
    /* -webkit-animation: rotation 5s infinite linear; */
    -webkit-animation: spin_left3 10s infinite linear;
}

@-moz-keyframes spin_left3 { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin_left3 { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin_left3 { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.rotate_left2 {
    /* -webkit-animation: rotation 5s infinite linear; */
    -webkit-animation: spin_left1 15s infinite linear;
}

@-moz-keyframes spin_left2 { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin_left2 { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin_left2 { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.rotate_left4 {
    /* -webkit-animation: rotation 5s infinite linear; */
    -webkit-animation: spin_left4 5s infinite linear;
}

@-moz-keyframes spin_left4 { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin_left4 { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin_left4 { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.rotate_eye_right {
    -webkit-animation: spin_leaf_right 10s infinite linear;
}

@-moz-keyframes spin_leaf_right { 
    0% { -moz-transform: rotate(0deg); } 
    15% { -moz-transform: rotate(20deg); }
    30% { -moz-transform: rotate(0deg); }
    65% { -moz-transform: rotate(-25deg); }
    100% { -moz-transform: rotate(0deg); } 
}
@-webkit-keyframes spin_leaf_right { 
    0% { -webkit-transform: rotate(0deg); }
    15% { -webkit-transform: rotate(20deg); }
    30% { -webkit-transform: rotate(0deg); }
    65% { -webkit-transform: rotate(-25deg); }
    100% { -webkit-transform: rotate(0deg); } 
}
@keyframes spin_leaf_right { 
    0% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    15% { -webkit-transform: rotate(20deg); transform:rotate(20deg); } 
    30% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    65% { -webkit-transform: rotate(-25deg); transform:rotate(-25deg); } 
    100% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
}

.rotate_eye_left {
    -webkit-animation: spin_eye_left 12s infinite linear;
}

@-moz-keyframes spin_eye_left { 
    0% { -moz-transform: rotate(0deg); } 
    25% { -moz-transform: rotate(-20deg); }
    50% { -moz-transform: rotate(0deg); }
    75% { -moz-transform: rotate(25deg); }
    100% { -moz-transform: rotate(0deg); } 
}
@-webkit-keyframes spin_eye_left { 
    0% { -webkit-transform: rotate(0deg); }
    25% { -webkit-transform: rotate(-20deg); }
    50% { -webkit-transform: rotate(0deg); }
    75% { -webkit-transform: rotate(25deg); }
    100% { -webkit-transform: rotate(0deg); } 
}
@keyframes spin_eye_left { 
    0% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    25% { -webkit-transform: rotate(-20deg); transform:rotate(-20deg); } 
    50% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    75% { -webkit-transform: rotate(25deg); transform:rotate(25deg); } 
    100% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
}

.wing_left {
    /* -webkit-animation: rotation 5s infinite linear; */
    -webkit-animation: spin_wing_left 6s infinite linear;
}

@-moz-keyframes spin_wing_left { 
    0% { -moz-transform: rotate(0deg); } 
    15% { -moz-transform: rotate(-10deg); }
    30% { -moz-transform: rotate(0deg); }
    75% { -moz-transform: rotate(35deg); }
    100% { -moz-transform: rotate(0deg); } 
}
@-webkit-keyframes spin_wing_left { 
    0% { -webkit-transform: rotate(0deg); }
    15% { -webkit-transform: rotate(-10deg); }
    30% { -webkit-transform: rotate(0deg); }
    75% { -webkit-transform: rotate(35deg); }
    100% { -webkit-transform: rotate(0deg); } 
}
@keyframes spin_wing_left { 
    0% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    15% { -webkit-transform: rotate(-10deg); transform:rotate(-10deg); } 
    30% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    75% { -webkit-transform: rotate(35deg); transform:rotate(35deg); } 
    100% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
}

.wing_right {
    /* -webkit-animation: rotation 5s infinite linear; */
    -webkit-animation: spin_wing_right 6s infinite linear;
}

@-moz-keyframes spin_wing_right { 
    0% { -moz-transform: rotate(0deg); } 
    15% { -moz-transform: rotate(10deg); }
    30% { -moz-transform: rotate(0deg); }
    75% { -moz-transform: rotate(-35deg); }
    100% { -moz-transform: rotate(0deg); } 
}
@-webkit-keyframes spin_wing_right { 
    0% { -webkit-transform: rotate(0deg); }
    15% { -webkit-transform: rotate(10deg); }
    30% { -webkit-transform: rotate(0deg); }
    75% { -webkit-transform: rotate(-35deg); }
    100% { -webkit-transform: rotate(0deg); } 
}
@keyframes spin_wing_right { 
    0% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    15% { -webkit-transform: rotate(10deg); transform:rotate(10deg); } 
    30% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    75% { -webkit-transform: rotate(-35deg); transform:rotate(-35deg); } 
    100% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
}

.ear_right {
    /* -webkit-animation: rotation 5s infinite linear; */
    -webkit-animation: spin_ear_right 6s infinite linear;
}

@-moz-keyframes spin_ear_right { 
    0% { -moz-transform: rotate(45deg); } 
    25% { -moz-transform: rotate(90deg); }
    50% { -moz-transform: rotate(135deg); }
    75% { -moz-transform: rotate(90deg); }
    100% { -moz-transform: rotate(45deg); } 
}
@-webkit-keyframes spin_ear_right { 
    0% { -webkit-transform: rotate(45deg); }
    25% { -webkit-transform: rotate(90deg); }
    50% { -webkit-transform: rotate(135deg); }
    75% { -webkit-transform: rotate(90deg); }
    100% { -webkit-transform: rotate(45deg); } 
}
@keyframes spin_ear_right { 
    0% { -webkit-transform: rotate(45deg); transform:rotate(45deg); } 
    25% { -webkit-transform: rotate(90deg); transform:rotate(90deg); } 
    50% { -webkit-transform: rotate(135deg); transform:rotate(135deg); } 
    75% { -webkit-transform: rotate(90deg); transform:rotate(90deg); } 
    100% { -webkit-transform: rotate(45deg); transform:rotate(45deg); } 
}

.ear_left {
    /* -webkit-animation: rotation 5s infinite linear; */
    -webkit-animation: spin_ear_left 6s infinite linear;
}

@-moz-keyframes spin_ear_left { 
    0% { -moz-transform: rotate(-45deg); } 
    25% { -moz-transform: rotate(-90deg); }
    50% { -moz-transform: rotate(-135deg); }
    75% { -moz-transform: rotate(-90deg); }
    100% { -moz-transform: rotate(-45deg); } 
}
@-webkit-keyframes spin_ear_left { 
    0% { -webkit-transform: rotate(-45deg); }
    25% { -webkit-transform: rotate(-90deg); }
    50% { -webkit-transform: rotate(-135deg); }
    75% { -webkit-transform: rotate(-90deg); }
    100% { -webkit-transform: rotate(-45deg); } 
}
@keyframes spin_ear_left { 
    0% { -webkit-transform: rotate(-45deg); transform:rotate(-45deg); } 
    25% { -webkit-transform: rotate(-90deg); transform:rotate(-90deg); } 
    50% { -webkit-transform: rotate(-135deg); transform:rotate(-135deg); } 
    75% { -webkit-transform: rotate(-90deg); transform:rotate(-90deg); } 
    100% { -webkit-transform: rotate(-45deg); transform:rotate(-45deg); } 
}

.manleftleg {
    /* -webkit-animation: rotation 5s infinite linear; */
    -webkit-animation: spin_manleftleg 2s infinite linear;
}

@-moz-keyframes spin_manleftleg { 
    0% { -moz-transform: rotate(0deg); } 
    25% { -moz-transform: rotate(-15deg); }
    50% { -moz-transform: rotate(0deg); }
    75% { -moz-transform: rotate(5deg); }
    100% { -moz-transform: rotate(0deg); } 
}
@-webkit-keyframes spin_manleftleg { 
    0% { -webkit-transform: rotate(0deg); }
    25% { -webkit-transform: rotate(-15deg); }
    50% { -webkit-transform: rotate(0deg); }
    75% { -webkit-transform: rotate(5deg); }
    100% { -webkit-transform: rotate(0deg); } 
}
@keyframes spin_manleftleg { 
    0% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    25% { -webkit-transform: rotate(-15deg); transform:rotate(-15deg); } 
    50% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    75% { -webkit-transform: rotate(5deg); transform:rotate(5deg); } 
    100% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
}

.manrightleg {
    /* -webkit-animation: rotation 5s infinite linear; */
    -webkit-animation: spin_manrightleg 2s infinite linear;
}

@-moz-keyframes spin_manrightleg { 
    0% { -moz-transform: rotate(0deg); } 
    25% { -moz-transform: rotate(15deg); }
    50% { -moz-transform: rotate(0deg); }
    75% { -moz-transform: rotate(-5deg); }
    100% { -moz-transform: rotate(0deg); } 
}
@-webkit-keyframes spin_manrightleg { 
    0% { -webkit-transform: rotate(0deg); }
    25% { -webkit-transform: rotate(15deg); }
    50% { -webkit-transform: rotate(0deg); }
    75% { -webkit-transform: rotate(-5deg); }
    100% { -webkit-transform: rotate(0deg); } 
}
@keyframes spin_manrightleg { 
    0% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    25% { -webkit-transform: rotate(15deg); transform:rotate(15deg); } 
    50% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
    75% { -webkit-transform: rotate(-5deg); transform:rotate(-5deg); } 
    100% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
}